@charset "utf-8";

/* nav */
.#{$prefix}-nav {
    position:                   absolute;
    top:                        60px;
    bottom:                     0px;
    width:                      180px;
    min-height:                 660px;
    overflow-x:                 hidden;
    overflow-y:                 auto;
    background-color:           #a0121f;

    a {
        display:                block;
        width:                  100%;
        line-height:            26px;
        font-size:              14px;
        padding-top:            10px;
        padding-left:           10px;
    }

    .active {
        background-color:       #5f77b8;
    }
}
