@charset "utf-8";
@import  "../core";

// path.
$img-nav-url:   #{$img-url}#{'nav/'}      !default;
$img-login-url: #{$img-url}#{'login/'}    !default;

.#{$prefix}-container {
    .login {
        position:           absolute;
        left:               50%;
        top:                200px;
        width:              260px;
        font-size:          16px;
        @include            translateX(-50%);

        .user {
            span {
                float:              left;
                width:              60px;
                line-height:        30px;
            }
        }

        .pwd {
            span {
                float:              left;
                width:              60px;
                line-height:        30px;
            }
        }

        #test {
            @include    animation(close_animation .6s ease-out forwards);
        }

        #login-msg {
            margin-top:             10px;
            color:                  #ff0000;
            text-align:             center;
            font-size:              14px;
        }

        #avatar {
            width:                  100%;
            height:                 240px;
            background:             url(#{$img-url}#{'avatar.jpg'}) no-repeat center;
        }
    }
}

// animation.
@include keyframes(close_animation) {
    100%    { opacity: 1; }
    0%      { opacity: 0; }
}
