<!-- component ms-component-header -->
<template ms-widget="{is: 'ms-component-header'}"></template>

<!-- component ms-nav -->
<template ms-widget="{is: 'ms-nav'}"></template>

<!-- template -->
<div ms-controller=[{component}] class=[{hl-main}]>
    <!-- component ms-tabs-2 -->
    <ms-tabs-2>
        <div slot=[{panels}]>第一个面板的内部</div>
    </ms-tabs-2>

    <!-- component ms-button-2 -->
    <ms-button-2 ms-widget=[{@button2}]></ms-button-2>

    <!-- 将组件放在父元素上设置ms-的元素里, 会保留template、xmp…等四种组件标签, 这里我最后只能用常规的方式来设置元素的样式、属性来解决这个问题，很头疼 -->
    <!--div ms-class=[{@cls.component}]-->
    <div class=[{component}]>
        <!-- component ms-tabs -->
        <ms-tabs>
            <div slot=[{tab}]>面板1</div>
            <div slot=[{tab}]>面板2</div>
            <div slot=[{tab}]>面板3</div>
        </ms-tabs>

        <!-- component-soleSlot -->
        <template ms-widget="{is:'ms-button'}" ms-click=[{@msBtnClick}]></template>
        <p><button ms-click=[{@updateMsBtnTtileClick}] class=[{hl-btn hl-mgn-b-10}]>click</button></p>

        <!-- component ms-button-1 -->
        <template ms-widget="{is: 'ms-button-1'}" ms-click=[{@msBtn1Click}]></template>
        <p><button ms-click=[{@updateMsBtn1TtileClick}] class=[{hl-btn hl-mgn-b-10}]>click-1</button></p>
    </div>
</div>
