@charset "utf-8";
@import "../core";

// path.
$img-nav-url:   #{$img-url}#{'nav/'}      !default;
$img-login-url: #{$img-url}#{'login/'}    !default;

// style.
.#{$prefix}-container {
    .component {
        font-size:          20px;
        color:              #fff;
        @include            border-radius(10px);
    }
}
